<?xml version="1.0"?>
<launch>
    <param name="/initialized" type="bool" value="false"/>

    <arg name="map_file" default="$(find turtlesim_ferrari)/map/mymap.yaml"/>
    <arg name="ros_file" default="$(find turtlesim_ferrari)/test2.bag"/>
    <arg name="controller_config" default="$(find turtlesim_ferrari)/settings.yaml"/>
    <arg name="scan_ip" default="192.168.0.10"/>

    <node name="scan_matcher" pkg="turtlesim_ferrari" type="scan_matcher"/>
    <node name="urg_node" pkg="urg_node" type="urg_node" args="_ip_address:=$(arg scan_ip)"/>
    <node name="auto_controller" pkg="turtlesim_ferrari" type="auto_control.py" args="$(arg controller_config)" output="screen"/>
    
    <node name="serial_node" pkg="rosserial_arduino" type="serial_node.py" args="_port:=/dev/ttyACM1 _baud:=57600"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>
    <node name="wpt_loader" pkg="turtlesim_ferrari" type="wpt_loader.py"/>

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find turtlesim_ferrari)/rviz/config.rviz"/>
    <node name="rqt_gui" pkg="rqt_gui" type="rqt_gui"/>
</launch>